body {
    background-color: rgb(18, 17, 17);
    font-family: tahoma;
    


}
#display {
    display: block;
    margin: 12px auto;
    height: 42px;
    width: 250px;
    border-radius: 5px;
    background-color: #5d5757;
     font-size: 15px;
    color: #f1e2e2;
    text-align: right;
    font-weight: 400;
    border-right: 0;
    border-bottom: 0;
    
   
    
    
    
}
#github{
    background-color: rgb(34, 32, 32);
    color:#FFF
    
    
}

@keyframes animate{
    0%,10%,100%{
        width: 0%;
    }
    70%,90%{
        width: 100%;
    }
}
